# ==========================================
# GLOBAUX (Système & IDE)
# ==========================================
.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/

# ==========================================
# REACT / FRONTEND
# ==========================================
React/node_modules/
React/dist/
React/build/
React/.eslintcache
React/*.tsbuildinfo

# ==========================================
# PLATFORMIO / ESP32
# ==========================================
PlatformIO/.pio/
PlatformIO/.gcc-flags.json
PlatformIO/test/
# Fichiers de compilation
*.o
*.bin
*.elf

# --- SÉCURITÉ ---
# On ignore les secrets (Wi-Fi, etc.) pour ne pas les publier
PlatformIO/include/secrets.h

# ==========================================
# RASPBERRY SERVER (C++ & Node-RED)
# ==========================================
RaspberryServer/obj/
RaspberryServer/domo_server
RaspberryServer/mqtt_logger/mqtt_logger
RaspberryServer/mqtt_logger/obj/
RaspberryServer/nodered-data/node_modules/

# ==========================================
# CONFIG & MOSQUITTO
# ==========================================
# On garde les fichiers .conf mais on ignore les données
Config/mosquitto/data/
Config/mosquitto/log/
RaspberryServer/mosquitto/data/
*.db